/* Add a black background color to the top navigation */
.topnav {
  background-color: #031326;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #d2d6d9;
  background-color: #031326;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3e4c59;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #747fbc;
  color: #031326;
}
body {background-color: #d5d8dc; font-family: 'Courier New', monospace; padding: 25px 50px;}